<?php
/* * *************************************************************************
 *
 * Copyright (c) 2011 HighPer.cn, All Rights Reserved
 *
 *
 * ************************************************************************ */
/**
 * 生成数据库配置
 * 分表配置
 *
 * @package config
 * @author cyber4cn@gmail.com
 */
/**
 *   示例
 * global $table_map;
*  $table_map = array(
*  );
 */
