<?php
/* * *************************************************************************
 *
 * Copyright (c) 2011 HighPer.cn, All Rights Reserved
 *
 *
 * ************************************************************************ */
/**
 * 生成Memcache配置
 * 分表配置
 *
 * @package config
 * @author cyber4cn@gmail.com
 */
/**
 *   示例
 * global $memcache_map;
*  $memcache_map = array(
*  );
 */
